.google{
    background-color: #DD4B39;
    border-color: #DD4B39;
    color:#000;
}
.google:hover{
    background-color: #e15f4f;
    border-color:#e15f4f;
}

#googleButton {
	width: 100%;
	margin: auto;
}

.or-social{
    text-align:center;
    margin: 20px 0 10px 0;
}